@font-face {
        font-family: kreepy;
        src: url(/HALLOWEEN/fonts/Kreepy\ Krawly.ttf);
}
body{background-color: black;
        font-family: kreepy;}
#escenario{background-image: url(../img/Spooky-house.jpg);
            width: 1000px;
            height: 750px;
            margin: auto;
            position: relative;}
#tower{width: 150px;
        height: 250px;
        position: absolute;
        top: 30px;
        left: 80px;
        }
#bats{position: absolute;
        top: 0px;
        left: 30px;
        visibility: hidden;}
#pumpkin{width: 180px;
        height: 180px;
        position: absolute;
        top: 460px;
        left: 690px;}
#spider{position: absolute;
        top: 460px;
        left: 690px;
        visibility: hidden;}
#house{width: 100px;
        height: 230px;
        position: absolute;
        top: 100px;
        left: 390px;}
#jumpscare{width: 100%;
        height: auto;
        visibility: hidden;}


/*text basic style*/
#texto{width: 80%;
        position: absolute;
        top: 580px;
        left: 400px;
        color: white;
        font-size: 150%;}

/*text animation style*/
@keyframes siniestro {
        from {color: white;}
        to {color: orange;}
}
#texto {
        animation: siniestro 3s linear infinite;
    }